@import 'colors';

.toast {
  position: fixed;
  bottom: 40px;
  right: 100px;
  background: $grey-darkest;
  color: $grey-lighter;
  padding: 4px 12px;
  margin-right: -2px;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.25s ease-in-out;

  &.visible {
    padding: 8px;
    margin: 0;
    bottom: 30px;
    opacity: 1;
  }
}
